// Variables

//http://paletton.com/#uid=13G0u0kuUuKf7M7mKCTCBiHRy3K
$primary:	#144BA2;
$dark:		#072B63;
$extradark:	#010814;
$light:		#4373BE;
$extralight:	#7B9FD7;


$my-font: PragmaticaExtraLight, sans-serif;